#macro(mainLayout)
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Discoding</title>

    <link rel="icon" href="/img/discord_logo.png" type="image/png">

    <link href="/lib/bootstrap-5.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/bootstrap-icons-1.5.0/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<style>
    .scroll{
        overflow-y: auto;
        overflow-x: hidden;
        height: 100vh;
    }
</style>
<body class="position-fixed">
<div>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="scroll">
            <div class="sidebar-content">
                <div class="sidebar-menu">
                    <a href="/logout" class="list-group-item list-group-item-action border-0">
                        <img src="/img/disconnect.png" class="rounded-circle avatar-small mx-2">
                    </a>
                    <a href="/friends/" class="list-group-item list-group-item-action border-0">
                        <img src="/img/friends.png" class="rounded-circle avatar-small mx-2">
                    </a>
                    <a href="/create-server/" class="list-group-item list-group-item-action border-0">
                        <img src="/img/addServer.png" class="rounded-circle avatar-small mx-2">
                    </a>
                    #foreach($server in $servers)
                    <a href="/server/$server.getId()" class="list-group-item list-group-item-action border-0">
                        <img class="rounded-circle avatar-small mx-2" src="$server.getAvatarUrl()" alt="$server.getName()">
                    </a>
                    #end
                </div>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <div class="header">
                <h2 class="title"></span></h2>
                <div class="toggle-menu d-block d-md-none">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fas fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
            </div>
            <div class="content p-4">
                $bodyContent
            </div>
            <footer class="fixed-bottom">Copyright Discoding</footer>
        </div>
    </div>

</div>

<script src="/js/script.js"></script>
</body>

</html>
#end
